.cart-section-layout{
    width:auto;
    height: auto;
    text-align:left;
}
.cart-section {
    width:30%;
    float:left;
    height:100%;
    background-color:var(--white);
  }
  .cart-checkout-section {
    width:100%;
    height:auto;
    background-color:var(--white);
  }

  .checkout-box{
      margin-top: 3rem;
      margin-left: 2rem;
      background-color: var(--white);
      border: 2px solid var(--blueviolet);
      padding: 2rem 0rem 2rem 1rem;
      
  }
  
  

  .order-btn{
      margin-left: 5.5rem;
  }
  .checkout-text{
      font-family: poppins;
      font-size: 1em;
      font-weight: 700;
  }
  .cart-total-text{
    margin-left: 10.5rem;
    font-weight: 500;
      }

      .cart-price-text {
        margin-left: 15rem;
    font-weight: 500;

       
    }
    .cart-discount-text{
        margin-left: 13.6rem;
    font-weight: 500;

  
    }
    .cart-delievery-text{
  margin-left: 8.3rem;
  font-weight: 500;

    }

  .price-details-text{
    margin-bottom: 1rem;
    font-size: 1.5em;
    margin-left: 5rem;
    
}
.total-amt-text{
    font-family: poppins;
    font-size: 1em;
    font-weight: 700;   
}